<div class="body">
  <nav class="navbar navbar-dark bg-primary">
    <a href="/" class="navbar-brand">CRUD Users </a>
  </nav>
    <div class="row">


      <div class="col-md-4">
        <div class="card mt-4 ">
          <div class="card-body">
            <div class="card-title">
              <h4>New User</h4>
            </div>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input [(ngModel)]="selectedUser.name"  
              type="text" class="form-control" id="name" >
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input [(ngModel)]="selectedUser.password"  
                type="password" class="form-control" id="password">
            </div>
            <div class="mb-3">
              <label for="number" class="form-label">Phone number</label>
              <input [(ngModel)]="selectedUser.phone.number"  
                type="phone" class="form-control" id="number">
            </div>
            <div class="mb-3">
              <label for="cityCode" class="form-label">City Code</label>
              <input [(ngModel)]="selectedUser.phone.cityCode"  
                type="number" class="form-control" id="cityCode">
            </div>
            <div class="mb-3">
              <label for="countryCode" class="form-label">Country Code</label>
              <input [(ngModel)]="selectedUser.phone.countryCode"  
                type="number" class="form-control" id="countryCode">
            </div>
          </div>  
                
            <button (click)="addOrEdit()" class="btn btn-primary mt-4" >Submit</button>
            <button
            *ngIf="selectedUser.id !== 0"
            class="btn btn-danger mt-4"
            (click)="delete()"
            >Delete</button>
          </div>
      </div>

      <div class="col-md-8" > 
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Password</th>
              <th scope="col">Phone Number</th>
              <th scope="col">City Code</th>
              <th scope="col">Country Code</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of userArray"
              (click)="openForEdit(user)"
              [class.active]="user == selectedUser"
            >
              <th scope="row"> {{ user.id }} </th>
              <td> {{ user.name }} </td>
              <td> {{ user.password }} </td>
              <td> {{ user?.phone?.number }} </td>
              <td> {{ user.phone?.cityCode }} </td>
              <td> {{ user.phone?.countryCode }} </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>




  </div>
  

 
